// News 
h2 News 
i.fas.fa-light.fa-rss.icon-symbols
each news_item in news
    .card.px-3.pt-3(style="max-width: 32rem")
        .row.mb-4.border-bottom.pb-2
            .col-6
                a.text-dark(href= `#${news_item["tag_id"]}` data-bs-toggle="collapse" role="button" aria-expanded="false"
                                    aria-controls= `${news_item["tag_id"]}`)= news_item["title"]
                if news_item["flag_src"]
                    img.p-1.flag(src= `${news_item["flag_src"]}`)
                p.collapse.p-0.news_description(id= `${news_item["tag_id"]}`)= news_item["content"]
                p= news_item["date"]
            .col-6
                img.img-fluid.shadow-1-strong.rounded(src= `${news_item["image_src"]}`, alt= `${news_item["title"]}`)