h2.pt-4 Positions and Experience
    i.fas.fa-light.fa-puzzle-piece.icon-symbols
ul.timeline_containing_images
    each position in PositionsExp
        li.timeline-item.mb-5.pt-4
            span.timeline_image
                img.d-sm-block.my-1.logo(src= `${position["logo_src"]}` alt= `${position["alt_text"]}`)
            h5= position["institue"]
            if include_flags_for_postions
                img.flag(src= `${position["flag_src"]}`)
            p.text-muted.mb-2= position["time"]
            p.text-muted.German= position["position_place"]